<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Giriş Yap</h2>
        <p class="text-primary">Kullanıcı adınızı ve şifrenizi girerek giriş yapabilirsiniz.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Giriş Yap &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kayıt Ol</h2>
        <p class="text-primary">Aşağıdaki butona tıklayarak üye olabilirsiniz.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Kayıt Ol &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>


<div>
    <!--<div class="progress" ng-show="isHttpBusy">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            Lütfen Bekleyin
        </div>
    </div>

    <h1>{{message}}</h1>

    <a href="#/yonet">Yönetici</a>

    <div class="row" ng-repeat="k in butunkomutlar">
        <div class="col-lg-3">
            {{k.Id}}
        </div>
        <div class="col-lg-3">
            {{k.KomutAdi}}
        </div>
        <div class="col-lg-3">
            {{k.Aciklama}}
        </div>
        <div class="col-lg-3">
            {{k.Referans}}
        </div>
    </div>-->

   
</div>